aiohttp~=3.6.2
asyncpg==0.21.0
asyncpgsa~=0.26.3
SQLAlchemy==1.3.13
SQLAlchemy-Utils==0.36.8
alembic==1.4.3
psycopg2-binary==2.8.6
ConfigArgParse==1.2.3
aiomisc==10.2.0
aiohttp-apispec~=2.2.1
marshmallow==3.8.0